/* To remove arrows in number field */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

*{
  /* background-color: tomato; */
}
input, label, div{
  font-size: 36px;
}
input {
  display: flex;
  flex-direction: column;
  margin-bottom: 55px;
  border: 2px solid tomato;
  
}